<!DOCTYPE html>
<html>
<head>
    <title>Signup | ATS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

<div class="auth-container">
    <div class="auth-box">
        <h2>Create Account</h2>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name" required>
            <input type="text" name="last_name" placeholder="Last Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="email" name="confirm_email" placeholder="Confirm Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>

            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>

</body>
</html>
